In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/customer-segmentation-tutorial-in-python/Mall_Customers.csv

In [2]:
# Veri iÅŸleme ve sayÄ±sal iÅŸlemler
import numpy as np
import pandas as pd

# GÃ¶rselleÅŸtirme
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objs as go
import plotly.offline as py

# Makine Ã¶ÄŸrenmesi
from sklearn.cluster import KMeans

# UyarÄ±larÄ± gizle
import warnings
warnings.filterwarnings("ignore")

# Plotly notebook modu
py.init_notebook_mode(connected=True)

print("KÃ¼tÃ¼phaneler yÃ¼klendi âœ…")

KÃ¼tÃ¼phaneler yÃ¼klendi âœ…

In [3]:
# Kaggle dataset yolu
data_path = "/kaggle/input/customer-segmentation-tutorial-in-python/Mall_Customers.csv"

# Veri setini yÃ¼kleme
df = pd.read_csv(data_path)

# Ä°lk 5 satÄ±r
print("Ä°lk 5 satÄ±r:")
display(df.head())

# Veri tipleri ve eksik deÄŸer kontrolÃ¼
print("\nVeri tipleri ve eksik deÄŸerler:")
print(df.info())
print("\nEksik veri sayÄ±sÄ± sÃ¼tun bazÄ±nda:")
print(df.isnull().sum())

# SayÄ±sal Ã¶zet istatistikler
print("\nSayÄ±sal Ã¶zet istatistikler:")
display(df.describe())

Ä°lk 5 satÄ±r:

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

Veri tipleri ve eksik deÄŸerler:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB
None

Eksik veri sayÄ±sÄ± sÃ¼tun bazÄ±nda:
CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

SayÄ±sal Ã¶zet istatistikler:

       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000

## ğŸ” Veri Seti Ä°ncelemesi (EDA) â€“ Ã‡Ä±ktÄ± YorumlarÄ±

<details>
<summary>1ï¸âƒ£ Veri Tipleri ve Eksik DeÄŸerler</summary>

**Yorum:**

- Toplam **200 mÃ¼ÅŸteri** ve **5 sÃ¼tun** mevcut.  
- `Gender` dÄ±ÅŸÄ±nda tÃ¼m deÄŸiÅŸkenler sayÄ±sal.  
- **Eksik veri yok**, bu nedenle veri temiz ve kÃ¼meleme iÃ§in uygundur.

</details>

<details>
<summary>2ï¸âƒ£ Eksik Veri KontrolÃ¼</summary>

**Yorum:**

- Her sÃ¼tunda eksik deÄŸer **0**, dolayÄ±sÄ±yla herhangi bir veri temizleme adÄ±mÄ± gerekmez.

</details>

<details>
<summary>3ï¸âƒ£ SayÄ±sal Ã–zet Ä°statistikler</summary>

**Yorum:**

- **YaÅŸ**: 18â€“70 â†’ geniÅŸ bir yaÅŸ daÄŸÄ±lÄ±mÄ± var.  
- **YÄ±llÄ±k Gelir**: 15â€“137 k$ â†’ farklÄ± gelir segmentleri mevcut.  
- **Harcama Skoru**: 1â€“99 â†’ dÃ¼ÅŸÃ¼kten yÃ¼kseÄŸe geniÅŸ daÄŸÄ±lÄ±m.  

**Ortalama deÄŸerler mÃ¼ÅŸterilerin tipik profilini gÃ¶steriyor:**

- Ortalama yaÅŸ: ~39  
- Ortalama gelir: ~61 k$  
- Ortalama harcama skoru: ~50  

ğŸ’¡ **Ã‡Ä±karÄ±m:** Veri, K-Means gibi gÃ¶zetimsiz Ã¶ÄŸrenme yÃ¶ntemleri ile mÃ¼ÅŸteri segmentasyonu yapmak iÃ§in oldukÃ§a uygun. DaÄŸÄ±lÄ±mÄ±n geniÅŸliÄŸi farklÄ± segmentlerin net bir ÅŸekilde ortaya Ã§Ä±kmasÄ±nÄ± saÄŸlayacaktÄ±r.

</details>

In [4]:
# Ä°lk 5 satÄ±rÄ± gÃ¶ster
df.head()

# SÃ¼tun isimleri
print(df.columns)

# Veri tipleri
print(df.dtypes)

# SatÄ±r ve sÃ¼tun sayÄ±sÄ±
print(df.shape)

# Her sÃ¼tunda eksik veri sayÄ±sÄ±
print(df.isnull().sum())

print(df.describe())

Index(['CustomerID', 'Gender', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')
CustomerID                 int64
Gender                    object
Age                        int64
Annual Income (k$)         int64
Spending Score (1-100)     int64
dtype: object
(200, 5)
CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64
       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000

---

<details>
<summary><strong>ğŸ” Veri Seti Ä°ncelemesi (EDA) â€“ Ã‡Ä±ktÄ± YorumlarÄ±</strong></summary>

### 1ï¸âƒ£ Ä°lk 5 SatÄ±r

* `df.head()` Ã§Ä±ktÄ±sÄ± bize Ã¶rnek mÃ¼ÅŸteri verilerini gÃ¶steriyor:

```text
   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40
```

**Yorum:** Veri, `CustomerID`, `Gender`, `Age`, `Annual Income`, `Spending Score` sÃ¼tunlarÄ±ndan oluÅŸuyor. Ä°lk bakÄ±ÅŸta mantÄ±klÄ± deÄŸerler var.

---

### 2ï¸âƒ£ SÃ¼tun Ä°simleri

```text
Index(['CustomerID', 'Gender', 'Age', 'Annual Income (k$)', 'Spending Score (1-100)'], dtype='object')
```

**Yorum:**

* 5 sÃ¼tun var, hepsi anlamlÄ± isimlendirilmiÅŸ.

---

### 3ï¸âƒ£ Veri Tipleri

```text
CustomerID                 int64
Gender                    object
Age                        int64
Annual Income (k$)         int64
Spending Score (1-100)     int64
dtype: object
```

**Yorum:**

* SayÄ±sal: `CustomerID`, `Age`, `Annual Income`, `Spending Score`
* Kategorik: `Gender`
* Bu tipler K-Means ve gÃ¶rselleÅŸtirme iÃ§in uygun.

---

### 4ï¸âƒ£ SatÄ±r ve SÃ¼tun SayÄ±sÄ±

```text
(200, 5)
```

**Yorum:**

* Toplam 200 mÃ¼ÅŸteri, 5 Ã¶zellik.
* KÃ¼Ã§Ã¼k ve yÃ¶netilebilir bir veri seti.

---

### 5ï¸âƒ£ Eksik Veri KontrolÃ¼

```text
CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64
```

**Yorum:**

* HiÃ§ eksik veri yok.
* Veri temiz, eksik deÄŸer doldurma veya silme gerekmez.

---

### 6ï¸âƒ£ Temel Ä°statistikler (SayÄ±sal DeÄŸiÅŸkenler)

```text
       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000
```

**Yorum:**

* **YaÅŸ:** 18â€“70 â†’ geniÅŸ yaÅŸ daÄŸÄ±lÄ±mÄ±, farklÄ± mÃ¼ÅŸteri gruplarÄ± olabilir.
* **YÄ±llÄ±k Gelir:** 15â€“137 k$ â†’ dÃ¼ÅŸÃ¼k ve yÃ¼ksek gelir segmentleri mevcut.
* **Harcama Skoru:** 1â€“99 â†’ Ã§ok Ã§eÅŸitli harcama davranÄ±ÅŸlarÄ± var.
* **Ortalama deÄŸerler:** YaÅŸ ~39, Gelir ~61 k$, Harcama Skoru ~50 â†’ tipik mÃ¼ÅŸteri profili ortaya Ã§Ä±kÄ±yor.

ğŸ’¡ **Ã‡Ä±karÄ±m:** Veri, K-Means gibi gÃ¶zetimsiz Ã¶ÄŸrenme yÃ¶ntemleri ile mÃ¼ÅŸteri segmentasyonu yapmak iÃ§in oldukÃ§a uygun. DaÄŸÄ±lÄ±mÄ±n geniÅŸliÄŸi farklÄ± segmentlerin net ÅŸekilde ortaya Ã§Ä±kmasÄ±nÄ± saÄŸlayacaktÄ±r.

</details>

---

In [5]:
"""
1ï¸âƒ£ Veri AyÄ±klama ve HazÄ±rlama â€“ Plan:
CustomerID K-Means iÃ§in gereksiz â†’ Ã§Ä±karÄ±lacak.
Gender kategorik, segmentasyona katmak istersek numerik kodlama yapÄ±lacak.
SayÄ±sal deÄŸiÅŸkenler zaten temiz â†’ aykÄ±rÄ± deÄŸerleri boxplot ile kontrol edeceÄŸiz.
"""
# Gereksiz sÃ¼tunu Ã§Ä±karÄ±yoruz
df_clean = df.drop(['CustomerID'], axis=1)

# Gender sÃ¼tununu sayÄ±sala Ã§eviriyoruz (opsiyonel)
df_clean['Gender'] = df_clean['Gender'].map({'Male':0, 'Female':1})

# HazÄ±rlanan veri Ã§erÃ§evesine bir gÃ¶z atalÄ±m
df_clean.head()

   Gender  Age  Annual Income (k$)  Spending Score (1-100)
0       0   19                  15                      39
1       0   21                  15                      81
2       1   20                  16                       6
3       1   23                  16                      77
4       1   31                  17                      40

<details>
<summary><strong>1ï¸âƒ£ Veri AyÄ±klama ve HazÄ±rlama â€“ SonuÃ§ Yorumu:</strong></summary>

- CustomerID Ã§Ä±karÄ±ldÄ±, Ã§Ã¼nkÃ¼ K-Means iÃ§in anlamsÄ±zdÄ±.
- Gender sayÄ±sal hale getirildi (Male=0, Female=1). ArtÄ±k model bunu kullanabiliriz.
- Age, Annual Income, Spending Score deÄŸiÅŸkenleri temiz ve sayÄ±sal.